body {
    font-family: "Lato", sans-serif;
}

.content-container {
    font-size: 5vw;
    padding: 21px;
    flex-grow: 1;
    width: 75%;
    box-sizing: border-box;
}

.weather-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem; /* Add a gap between the temperature and the icon */
}

.icon-container {
    width: 7vw;
    height: 7vw;
}

.weather-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.weather-details-column {
    width: 50%;
}

.weather-details p {
    font-size: 3vw;
}

@media screen and (max-width: 768px) {
    .icon-container {
        width: 7vw;
        height: 7vw;
    }
}

@media screen and (max-width: 480px) {
    .icon-container {
        width: 10vw;
        height: 10vw;
    }
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .sidebar li {
        font-size: 18px;
    }
}
