

.future-weather-info {
    display: flex;
    justify-content: center;
}

.future-weather-paper {
    background-color: #000;
    color: #fff;
    max-height: 25vw;
    min-width: 48.61vw;
    overflow: auto;
    border: 0.83vw solid #0077b6;
    border-radius: 1.39vw;
}

.future-weather-item {
    border-bottom: 0.83vw solid #0077b6;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 2.78vw;
}

.weather-icon-small {
    width: 13.89vw;
    min-width: 1.56vw;
    margin-right: 1.39vw;
}

.date {
    font-size: 7.5vw;
    margin-top: 2.22vw;
    text-align: center;
    margin-bottom: 5vw;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 2.22vw;
}

.pagination-item {
    margin: 0 2.22vw;
}
.weather-container {
    border: 2px solid #0077b6;
    padding: 2vw;
    margin: 8vw;
    border-radius: 3vw;
    background-image: url('../../../public/Background/Beach.jpg');
    background-size: cover;
    position: relative;
    text-shadow: #1C1B1F 0px 0px 3px;
    backdrop-filter: blur(1.5px) brightness(0.8);
}

.current-weather-info {
    position: relative;
    z-index: 2;
}
