body {
    font-family: "Lato", sans-serif;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a,
.sidebar li {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    cursor: pointer;
}

.sidebar a:hover,
.sidebar li:hover {
    color: #f1f1f1;
}

.content-container {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

    .sidebar li {
        font-size: 18px;
    }
}

.side-bar {
    /* Add any necessary styles for your sidebar */
    /* width: 25%; */
    min-width: 200px;
    height: 100%;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.content-container {
    flex-grow: 1;
    padding: 16px;
    width: 75%;
    box-sizing: border-box;
}